.divider {
    width: 50px;
    height: 3px;
    background-color: #ddd;
    margin-top: 15px;
	margin-bottom: 20px;
}
.sub-title {
    font-size: 14px;
}
#AmountObtained {
    font-size: 30px;
}
#ProfilePicture {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}